div { 
    position: fixed;
    opacity: 33%;
    z-index: -1;
}

header {
    font-family: 'Coustard', serif;
    text-indent: 7.5%;
    padding-top: 50px;
}

/* I stole the next four stanzas from the first homework assignment */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Concert One', cursive;    
    font-size: 20px;
    opacity: 100%;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: black;
    text-decoration: none;
}

/* I stole img.bg and @media screen from the internet */
img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}
  
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
}

section {
    margin: 25px 50px;
}

footer {
    font-family: 'Catamaran', sans-serif;
    font-weight: 500px;
    text-align: right;
    position: bottom;
}